<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el header -->
<th:block th:replace="~{fragments/header :: head}"></th:block>
<script th:src="@{/js/company/edit.js}"></script>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<div>
    <th:block th:replace="~{fragments/breadcrumbs :: listbreacrumbs}"></th:block>
    <div class="page-header" id="banner">
        <div class="">
            <div class="card">
                <div class="card-body">
                    <th:block th:replace="~{components/buttons/others :: buttonBack}"></th:block>
                    <div class="col-12 mt-3">
                        <div class="">
                            <div class="col-5">
                                <div class="mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4 position-relative image-container">
                                            <img th:src="@{/images/{filename}(filename=${company.logo != null ? company.logo.getName() : ''})}" class="img-fluid rounded-start" alt="Logo">
                                            <!-- Ícono del lápiz + input de archivo oculto -->
                                            <label class="edit-icon">
                                                <input type="file" id="fileInput" accept="image/*" required hidden th:data-url="@{'/company/updateAvatar/' + ${company.id}}">
                                                <button class="badge bg-dark" type="button" id="btnUploadAvatar"><i class="bi bi-pencil"></i></button>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label for="name" class="form-label mt-4" th:text="${#messages.msg('company.name')}">Nombre</label>
                            <input type="text" class="form-control" id="name" th:value="${company.name}">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="description" class="form-label mt-4" th:text="${#messages.msg('company.description')}">Descripción</label>
                            <textarea type="text" class="form-control" id="description" th:text="${company.description}"></textarea>
                        </div>
                        <div class="col-12 col-lg-12">
                            <label for="address" class="form-label mt-4" th:text="${#messages.msg('company.address')}">Dirección</label>
                            <input type="text" class="form-control" id="address" th:value="${company.address}" th:onchange="|reloadAddressFrame()|">
                            <div>
                                <div class="mapouter mt-3">
                                    <div class="gmap_canvas">
                                        <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" th:src="${'https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q='+company.address+'&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed'}"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <label for="minDay" class="form-label mt-4" th:text="${#messages.msg('company.open.day')}">Día Apertura</label>
                            <select id="minDay" name="minDay" class="form-select" required >
                                <option th:each="d : ${days}" th:value="${d.toUpperCase()}"
                                        th:text="${d.toUpperCase()}"
                                        th:selected="${#arrays.contains(company.minDay, d)}">
                                </option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-3">
                            <label for="maxDay" class="form-label mt-4" th:text="${#messages.msg('company.close.day')}">Día Cierre</label>
                            <select id="maxDay" name="maxDay" class="form-select" required >
                                <option th:each="d : ${days}" th:value="${d.toUpperCase()}"
                                        th:text="${d.toUpperCase()}"
                                        th:selected="${company.maxDay == d}">
                                </option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-3">
                            <label for="minStartTime" class="form-label mt-4" th:text="${#messages.msg('company.open.hour')}">Hora Apertura</label>
                            <input type="time" class="form-control" id="minStartTime" th:value="${company.minStartTime}"></input>
                        </div>
                        <div class="col-12 col-lg-3">
                            <label for="maxEndtime" class="form-label mt-4" th:text="${#messages.msg('company.close.hour')}">Hora Cierre</label>
                            <input type="time" class="form-control" id="maxEndtime" th:value="${company.maxEndtime}"></input>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="telephone" class="form-label mt-4" th:text="${#messages.msg('table.telephone')}">Teléfono</label>
                            <input type="text" class="form-control" id="telephone" th:value="${company.telephone}"></input>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="contact" class="form-label mt-4" th:text="${#messages.msg('table.contact')}">Contacto</label>
                            <input type="text" class="form-control" id="contact" th:value="${company.contact}"></input>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-12 ms-auto d-flex justify-content-end">
                            <th:block th:insert="~{/components/buttons/update :: buttonUpdate('button.update',${company.id})}"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title" th:text="${#messages.msg('title.professionals')}">Profesionales asociados</h5>
                        <script th:src="@{/js/professionals/list.js}"></script>
                        <th:block th:insert="~{/professionals/tblProfessionals :: #tblProfessionals}"></th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>