<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el header -->
<th:block th:replace="~{fragments/header :: head}"></th:block>
<script th:src="@{/js/company/edit.js}"></script>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<div>
    <th:block th:replace="~{fragments/breadcrumbs :: listbreacrumbs}"></th:block>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <th:block th:replace="~{components/buttons/others :: buttonBack}"></th:block>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="offset-3 col-5">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img th:src="@{/images/{filename}(filename=${company.logo != null ? company.logo.getName() : ''})}" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body mt-4">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <input type="file" id="fileInput" accept="image/*" required hidden th:data-url="@{'/company/updateAvatar/' + ${company.id}}">
                                                    <th:block th:insert="~{/components/buttons/others :: updateAvatar}"></th:block>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr width="50%" class="offset-3 text-center">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label for="name" class="form-label mt-4">Nombre</label>
                            <input type="text" class="form-control" id="name" th:value="${company.name}">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="description" class="form-label mt-4">Descripción</label>
                            <textarea type="text" class="form-control" id="description" th:text="${company.description}"></textarea>
                        </div>
                        <div class="col-12 col-lg-12">
                            <label for="address" class="form-label mt-4">Dirección</label>
                            <input type="text" class="form-control" id="address" th:value="${company.address}"></input>
                            <div>
                                <div class="mapouter mt-3">
                                    <div class="gmap_canvas">
                                        <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" th:src="${'https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q='+company.address+'&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed'}"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <label for="minDay" class="form-label mt-4">Día Apertura</label>
                            <select id="minDay" name="minDay" class="form-select" required >
                                <option th:each="d : ${days}" th:value="${d.toUpperCase()}"
                                        th:text="${d.toUpperCase()}"
                                        th:selected="${#arrays.contains(company.minDay, d)}">
                                </option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-3">
                            <label for="maxDay" class="form-label mt-4">Día Cierre</label>
                            [[${company.maxDay}]]
                            <select id="maxDay" name="maxDay" class="form-select" required >
                                <option th:each="d : ${days}" th:value="${d.toUpperCase()}"
                                        th:text="${d.toUpperCase()}"
                                        th:selected="${company.maxDay == d}">
                                </option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-3">
                            <label for="minStartTime" class="form-label mt-4">Hora Apertura</label>
                            <input type="time" class="form-control" id="minStartTime" th:value="${company.minStartTime}"></input>
                        </div>
                        <div class="col-12 col-lg-3">
                            <label for="maxEndtime" class="form-label mt-4">Hora Cierre</label>
                            <input type="time" class="form-control" id="maxEndtime" th:value="${company.maxEndtime}"></input>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="telephone" class="form-label mt-4">Teléfono</label>
                            <input type="text" class="form-control" id="telephone" th:value="${company.telephone}"></input>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="contact" class="form-label mt-4">Contacto</label>
                            <input type="text" class="form-control" id="contact" th:value="${company.contact}"></input>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-12 ms-auto d-flex justify-content-end">
                            <th:block th:insert="~{/components/buttons/update :: buttonUpdate('button.update',${company.id})}"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title">Profesionales asociados</h5>
                        <table class="display table-stripped" style="width:100%" id="tblProfessionals">
                            <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th>Especialidad</th>
                                <th>Teléfono</th>
                                <th scope="col">Estado</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="professional, iter : ${professionals}" th:class="${!professional.status ? 'text-muted' : ''}">
                                <td th:text="${professional.firstname + ' ' + professional.lastname}"></td>
                                <td>
                                    <span th:each="p: ${professional.services}">
                                        <a class="badge rounded-pill text-bg-secondary" th:text="${p.name}">
                                    </a>
                                </td>
                                <td th:text="${professional.telephone}"></td>
                                <td th:text="${professional.status ? 'ACTIVO' : 'INACTIVO'}"></td>
                                <td>
                                    <button class="btn btn-sm btn-primary btnEdit" th:data-url="'./edit/' + ${professional.id}" th:disabled="${!professional.status}" data-toggle="tooltip" data-placement="top" title="Editar">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-info btnAvailability" th:data-url="'./availability/' + ${professional.id}" th:disabled="${!professional.status}" data-toggle="tooltip" data-placement="top" title="Disponibilidad">
                                        <i class="bi bi-calendar"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-warning btnChangeStatus" th:data-id="${professional.id}" th:disabled="${professional.status}" data-toggle="tooltip" data-placement="top" title="Recuperar">
                                        <i class="bi bi-arrow-counterclockwise"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger btnDelete" th:data-id="${professional.id}" th:disabled="${!professional.status}" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                                </span>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>