<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el header -->
<th:block th:replace="~{fragments/header :: head}"></th:block>
<script th:src="@{/js/company/list.js}"></script>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<div>
    <th:block th:replace="~{fragments/breadcrumbs :: listbreacrumbs}"></th:block>
    <div class="page-header" id="banner">
        <div class="">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 mt-3">
                            <th:block th:insert="~{/components/buttons/new :: buttonNew('/company/create', null, false)}"></th:block>
                        </div>
                    </div>
                    <table class="display table-stripped" style="width:100%" id="tblCompany">
                        <thead>
                        <tr>
                            <th scope="col" th:text="${#messages.msg('table.company.name')}">Razon Social</th>
                            <th th:text="${#messages.msg('table.address')}">Dirección</th>
                            <th th:text="${#messages.msg('table.telephone')}">Teléfono</th>
                            <th th:text="${#messages.msg('table.contact')}">Contacto</th>
                            <th th:text="${#messages.msg('table.status')}">Estado</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="comp : ${company}" th:class="${!comp.status ? 'text-muted' : ''}">
                            <td th:text="${comp.name}"></td>
                            <td th:text="${comp.address}"></td>
                            <td th:text="${comp.telephone}"></td>
                            <td th:text="${comp.contact}"></td>
                            <td th:text="${comp.status ? #messages.msg('entity.status.active') : #messages.msg('entity.status.inactive')}"></td>
                            <td>
                                <th:block th:insert="~{/components/buttons/table :: buttonManagerByUrl('title.edit', 'btn-primary btnEdit', 'bi-pencil-square', './edit/' + ${comp.id}, ${!comp.status})}"></th:block>
                            </td>
                            <td>
                                <th:block th:insert="~{/components/buttons/table :: buttonManagerById('title.recover', 'btn-warning btnChangeStatus', 'bi bi-arrow-counterclockwise', ${comp.id}, ${comp.status})}"></th:block>
                            </td>
                            <td>
                                <th:block th:insert="~{/components/buttons/table :: buttonManagerById('title.delete', 'btn-danger btnDelete', 'bi bi-trash', ${comp.id}, ${!comp.status})}"></th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{modal :: simpleModal('Alta de Empresa')}"></th:block>
