<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<!-- Incluir el header -->
<th:block th:replace="~{fragments/header :: head}"></th:block>
<body>
<th:block th:replace="~{fragments/public/header :: header}"></th:block>
<div>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center fs-1">Listado de Salones</h5>
                    <div class="row">
                        <div class="offset-lg-2 col-md-3">
                            <div class="card mb-3" style="border: 1px solid lightgray;">
                                <div class="row g-0">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="card-body">
                                            <h5 class="card-title">Filtros</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card mb-3" th:each="comp : ${companies}" style="border: 1px solid lightgray;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img th:src="@{/images/{filename}(filename=${comp.logo != null ? comp.logo.getName() : ''})}" class="rounded mx-auto d-block" style="width: 150px" th:alt="${comp.description}">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body mt-3">
                                            <a class="card-title" th:text="${comp.name}" th:href="@{'/booking/request/select-salon/' + ${comp.id} }"></a>
                                            <br>
                                            <div class="rating text-muted">
                                                <span class="score" th:text="${calificacion}">4.6</span>
                                                <div class="stars">
                                                    <th:block th:each="i : ${#numbers.sequence(1, 5)}">
                                                        <span th:class="${i <= calificacionInt} ? 'star filled' : (${i == calificacionInt + 1 && calificacion % 1 >= 0.5} ? 'star half-filled' : 'star')">★</span>
                                                    </th:block>
                                                </div>
                                                <span class="total-ratings" th:text="'(' + ${totalRatings} + ')'">(6,345)</span>
                                            </div>
                                            <p>
                                                <figcaption th:if="${comp.description}" class="blockquote-footer" th:text="${comp.description}"></figcaption>
                                            </p>
                                            <p>
                                                <i class="bi bi-pin-map"></i>
                                                <a th:text="${comp.address}" target="_blank" th:href="${'https://www.google.com/maps/place/' + #strings.listJoin(comp.address.split(' '), '+')}"></a>
                                            </p>
                                            <p>
                                                <i class="bi bi-calendar-week"></i>
                                                <small>Horarios de Atención: </small>
                                                <small th:text="${comp.minStartTime}"></small>
                                                <small> - </small>
                                                <small th:text="${comp.maxEndtime}"></small>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
