<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el header -->
<th:block th:replace="~{fragments/header :: head}"></th:block>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<div>
    <div class="page-header" id="banner">
        <div class="">
            <div class="card">
                <div class="card-body">
                    <th:block th:replace="~{components/buttons/others :: buttonBack}"></th:block>
                    <h5 class="card-title text-center fs-1" th:text="#{title.professionals.list}">Listado de Profesionales</h5>
                    <div class="row">
                        <th:block th:insert="~{/public/booking/summary :: summaryDiv}"></th:block>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="row mb-3">
                                                    <div class="service-card col-md-3 d-flex flex-column h-100 m-1 p-1" th:each="prof : ${professionals}">
                                                        <img th:src="@{/images/{filename}(filename=${prof.image != null ? prof.image.name : ''})}" alt="Consulta General" class="" loading="lazy" />
                                                        <div class="service-card-body">
                                                            <h5 th:text="${prof.fullname}">Consulta General</h5>
                                                            <a class="btn btn-primary btn-sm btn-reservar w-auto" th:href="@{'/appointments/request/select-date/' + ${prof.id} }" th:text="#{title.select}" type="button">Seleccionar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
