<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el header -->
<th:block th:replace="~{fragments/header :: head}"></th:block>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<script th:src="@{/js/booking/availability.js}"></script>
<div>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center fs-1" th:text="#{title.datetime.list}">Listado de Fechas</h5>
                    <div class="row">
                        <th:block th:insert="~{/public/booking/summary :: summaryDiv}"></th:block>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="col-12 col-lg-12">
                                                        <div id="calendar" class="mt-3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
