<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el header -->
<th:block th:replace="~{fragments/header :: head}"></th:block>
<script th:src="@{/js/services/edit.js}"></script>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<div>
    <th:block th:replace="~{fragments/breadcrumbs :: listbreacrumbs}"></th:block>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <th:block th:insert="~{/components/buttons/others :: buttonBack}"></th:block>
                    <div class="col-12 mt-3">
                        <div class="">
                            <div class="col-5">
                                <div class="mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4 position-relative image-container">
                                            <img th:src="@{/images/{filename}(filename=${service.item != null && service.item.image != null ? service.item.image.name : ''})}" class="img-fluid rounded-start" alt="Logo">
                                            <!-- Ícono del lápiz + input de archivo oculto -->
                                            <label class="edit-icon">
                                                <input type="file" id="fileInput" accept="image/*" required hidden th:data-url="@{'/services/updateAvatar/' + ${service.item.id}}">
                                                <button class="badge bg-dark" type="button" id="btnUploadAvatar"><i class="bi bi-pencil"></i></button>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label for="name" class="form-label mt-4" th:text="${#messages.msg('table.name')}">Nombre</label>
                            <input type="text" class="form-control" id="name" th:value="${service.item.name}">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="description" class="form-label mt-4" th:text="${#messages.msg('table.description')}">Descripción</label>
                            <textarea type="text" class="form-control" id="description" th:text="${service.item.description}"></textarea>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="categoryService" class="form-label mt-4" th:text="${#messages.msg('title.specialities')}">Especialidades</label>
                            <select class="form-select" id="categoryService" multiple>
                                <option th:each="cat : ${categories}"
                                        th:value="${'/categoryServices/' + cat.id}"
                                        th:text="${cat.name}"
                                        th:selected="${#arrays.contains((service.categoryService != null ? service.categoryService : ''), cat)}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label for="price" class="form-label mt-4" th:text="${#messages.msg('table.price')}">Valor</label>
                            <input type="number" class="form-control" id="price" th:value="${service.item.price}">
                        </div>
                    </div>
                    <br>
                    <th:block th:insert="~{/components/buttons/update :: buttonUpdate('button.update',${service.item.id})}"></th:block>
                </div>
            </div>
        </div>
    </div>
</div>