<table class="display table-stripped" style="width:100%" id="tblServices" th:fragment="tblServices">
    <thead>
    <tr>
        <th width="100px" scope="col" th:text="${#messages.msg('table.name')}">Nombre</th>
        <th width="550px" th:text="${#messages.msg('table.description')}">Descripción</th>
        <th th:text="${#messages.msg('table.price')}">Precio</th>
        <th scope="col" th:text="${#messages.msg('table.category')}">Categoría</th>
        <th scope="col" th:text="${#messages.msg('table.status')}">Estado</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${services}" th:class="${!service.status ? 'text-muted' : ''}">
        <td>
            <span class="badge bg-secondary">
                <a th:href="@{ ${service.status} ? '/services/edit/'+ ${service.id} : '#'}" th:text="${service.item.name}" class="text-white"></a>
            </span>
        </td>
        <td th:text="${service.item.description}"></td>
        <td th:text="${'$ ' + service.item.price}"></td>
        <td>
            <span class="badge bg-secondary">
                <a th:href="@{ ${service.categoryService.status && service.status} ? '/categoryService/edit/'+ ${service.categoryService.id} : '#'}" th:text="${service.categoryService.name}" class="text-white"></a>
            </span>
        </td>
        <td th:text="${service.status ? #messages.msg('entity.status.active') : #messages.msg('entity.status.inactive')}"></td>
        <td>
            <th:block th:insert="~{/components/buttons/table :: buttonManagerByUrl('title.edit', 'btn-primary btnEdit', 'bi-pencil-square', @{'/services/edit/' + ${service.id}}, ${!service.status})}"></th:block>
        </td>
        <td>
            <th:block th:insert="~{/components/buttons/table :: buttonManagerById('title.recover', 'btn-warning btnChangeStatus', 'bi bi-arrow-counterclockwise', ${service.id}, ${service.status})}"></th:block>
        </td>
        <td>
            <th:block th:insert="~{/components/buttons/table :: buttonManagerById('title.delete', 'btn-danger btnDelete', 'bi bi-trash', ${service.id}, ${!service.status})}"></th:block>
        </td>
    </tr>
    </tbody>
</table>