<table class="display table-stripped" style="width:100%" id="tblServices" th:fragment="tblServices">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th scope="col">Duración(min)</th>
        <th scope="col">Categoría</th>
        <th scope="col">Estado</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${services}" th:class="${!service.status ? 'text-muted' : ''}">
        <td>
            <span class="badge bg-secondary">
                <a th:href="@{ ${service.status} ? '/services/edit/'+ ${service.id} : '#'}" th:text="${service.name}" class="text-white"></a>
            </span>
        </td>
        <td th:text="${service.description}"></td>
        <td th:text="${'$ ' + service.price}"></td>
        <td th:text="${service.duration}"></td>
        <td>
            <span class="badge bg-secondary">
                <a th:href="@{ ${service.categoryService.status && service.status} ? '/categoryService/edit/'+ ${service.categoryService.id} : '#'}" th:text="${service.categoryService.name}" class="text-white"></a>
            </span>
        </td>
        <td th:if="${!service.status}">
            <span class="badge bg-danger" th:text="${'INACTIVO'}"></span>
        </td>
        <td th:if="${service.status}">
            <span class="badge bg-success" th:text="${'ACTIVO'}"></span>
        </td>
        <td>
            <th:block th:insert="~{/components/buttons/table :: buttonManagerByUrl('title.edit', 'btn-primary btnEdit', 'bi-pencil-square', './edit/' + ${service.id}, ${!service.status})}"></th:block>
        </td>
        <td>
            <th:block th:insert="~{/components/buttons/table :: buttonManagerById('title.recover', 'btn-warning btnChangeStatus', 'bi bi-arrow-counterclockwise', ${service.id}, ${service.status})}"></th:block>
        </td>
        <td>
            <th:block th:insert="~{/components/buttons/table :: buttonManagerById('title.delete', 'btn-danger btnDelete', 'bi bi-trash', ${service.id}, ${!service.status})}"></th:block>
        </td>
    </tr>
    </tbody>
</table>