<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el header -->
<th:block th:replace="~{fragments/header :: head}"></th:block>
<script th:src="@{/js/professionals/edit.js}"></script>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<div>
    <th:block th:replace="~{fragments/breadcrumbs :: listbreacrumbs}"></th:block>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label for="firstname" class="form-label mt-4">Nombre</label>
                            <input type="text" class="form-control" id="firstname" th:value="${professional.firstname}">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="lastname" class="form-label mt-4">Apellido</label>
                            <input type="text" class="form-control" id="lastname" th:value="${professional.lastname}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label for="specialities" class="form-label mt-4">Especialidades</label>
                            <select class="form-select" id="specialities" multiple>
                                <option th:each="speciality : ${specialities}"
                                        th:value="${'/specialityService/' + speciality.id}"
                                        th:text="${speciality.name}"
                                        th:selected="${#arrays.contains(professional.specialities, speciality)}">
                                </option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="telephone" class="form-label mt-4">Teléfono</label>
                            <input type="text" class="form-control" id="telephone" th:value="${professional.telephone}">
                        </div>
                    </div>
                    <br>
                    <th:block th:insert="~{/components/buttons/update :: buttonUpdate(${professional.id})}"></th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{modal :: simpleModal('Alta de Profesional')}"></th:block>
