<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el header -->
<th:block th:replace="~{fragments/header :: head}"></th:block>
<script th:src="@{/js/professionals/edit.js}"></script>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<div>
    <th:block th:replace="~{fragments/breadcrumbs :: listbreacrumbs}"></th:block>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <th:block th:replace="~{components/buttons/others :: buttonBack}"></th:block>
                    <div class="col-12 mt-3">
                        <div class="">
                            <div class="col-5">
                                <div class="mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4 position-relative image-container">
                                            <img th:src="@{/images/{filename}(filename=${professional.image != null ? professional.image.name : ''})}" class="img-fluid rounded-start" alt="Logo">
                                            <!-- Ícono del lápiz + input de archivo oculto -->
                                            <label class="edit-icon">
                                                <input type="file" id="fileInput" accept="image/*" required hidden th:data-url="@{'/professionals/updateAvatar/' + ${professional.id}}">
                                                <button class="badge bg-dark" type="button" id="btnUploadAvatar"><i class="bi bi-pencil"></i></button>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label for="firstname" class="form-label mt-4" th:text="${#messages.msg('title.firstname')}">Nombre</label>
                            <input type="text" class="form-control" id="firstname" th:value="${professional.firstname}">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="lastname" class="form-label mt-4" th:text="${#messages.msg('title.lastname')}">Apellido</label>
                            <input type="text" class="form-control" id="lastname" th:value="${professional.lastname}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label for="specialities" class="form-label mt-4" th:text="${#messages.msg('title.specialities')}">Especialidades</label>
                            <select class="form-select" id="specialities" multiple>
                                <option th:each="speciality : ${specialities}"
                                        th:value="${'/specialityService/' + speciality.id}"
                                        th:text="${speciality.item.name}"
                                        th:selected="${#arrays.contains(professional.services, speciality)}">
                                </option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="telephone" class="form-label mt-4" th:text="${#messages.msg('table.phone')}">Teléfono</label>
                            <input type="text" class="form-control" id="telephone" th:value="${professional.telephone}">
                        </div>
                    </div>
                    <br>
                    <th:block th:insert="~{/components/buttons/update :: buttonUpdate('button.update',${professional.id})}"></th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{modal :: simpleModal('Alta de Profesional')}"></th:block>
