<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el header -->
<th:block th:replace="~{fragments/header :: head}"></th:block>
<script th:src="@{/js/professionals/list.js}"></script>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<div>
    <th:block th:replace="~{fragments/breadcrumbs :: listbreacrumbs}"></th:block>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 mt-3">
                            <th:block th:insert="~{/components/buttons/new :: buttonNew('/professionals/create', null, false)}"></th:block>
                        </div>
                    </div>
                    <table class="display table-stripped" style="width:100%" id="tblProfessionals">
                        <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th>Especialidad</th>
                            <th>Teléfono</th>
                            <th scope="col">Estado</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="professional, iter : ${professionals}" th:class="${!professional.status ? 'text-muted' : ''}">
                            <td th:text="${professional.firstname + ' ' + professional.lastname}"></td>
                            <td>
                                <span th:each="p: ${professional.services}">
                                    <a class="badge rounded-pill text-bg-secondary" th:text="${p.name}">
                                </a>
                            </td>
                            <td th:text="${professional.telephone}"></td>
                            <td th:text="${professional.status ? 'ACTIVO' : 'INACTIVO'}"></td>
                            <td>
                                <button class="btn btn-sm btn-primary btnEdit" th:data-url="'./edit/' + ${professional.id}" th:disabled="${!professional.status}" data-toggle="tooltip" data-placement="top" title="Editar">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-info btnAvailability" th:data-url="'./availability/' + ${professional.id}" th:disabled="${!professional.status}" data-toggle="tooltip" data-placement="top" title="Disponibilidad">
                                    <i class="bi bi-calendar"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-warning btnChangeStatus" th:data-id="${professional.id}" th:disabled="${professional.status}" data-toggle="tooltip" data-placement="top" title="Recuperar">
                                    <i class="bi bi-arrow-counterclockwise"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger btnDelete" th:data-id="${professional.id}" th:disabled="${!professional.status}" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </span>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{modal :: simpleModal('Alta de Profesional')}"></th:block>
