<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el header -->
<th:block th:replace="~{fragments/header :: head}"></th:block>
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script th:src="@{/js/public/appointments/list.js}"></script>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<div>
    <th:block th:replace="~{fragments/breadcrumbs :: listbreacrumbs}"></th:block>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="#{title.my.appointments}">Mis turnos</h5>
                    <table class="display table-stripped" style="width:100%" id="tblAppts" th:fragment="tblAppts">
                        <thead>
                        <tr>
                            <th th:if="${isAdmin}" scope="col" th:text="#{table.client}">Cliente</th>
                            <th scope="col" th:text="#{title.lounge}">Salón</th>
                            <th th:text="#{table.service}">Servicio</th>
                            <th th:text="#{table.professional}">Profesional</th>
                            <th scope="col" th:text="#{table.datetime}">Fecha/Hora</th>
                            <th scope="col" th:text="#{table.status}">Estado</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="appt : ${appointments}" th:class="${!appt.status ? 'text-muted' : ''}" th:with="available=${appt.apptStatus == appt.apptStatus.CONFIRM || appt.apptStatus == appt.apptStatus.CREATED}">
                            <td th:if="${isAdmin}" th:text="${appt.client.fullname}"></td>
                            <td th:text="${appt.company.name}"></td>
                            <td th:text="${appt.service.name}"></td>
                            <td th:text="${appt.professional.getFullname()}"></td>
                            <td th:text="${appt.scheduledDateStart + ' - ' + appt.scheduledDateEnd}"></td>
                            <td th:text="${appt.apptStatus}"></td>
                            <td>
                                <span th:if="${appt.apptStatus == appt.apptStatus.CREATED}" class="badge bg-warning" th:text="${#messages.msg(appt.apptStatus.CREATED.getText())}"></span>
                                <span th:if="${appt.apptStatus == appt.apptStatus.CANCELLED}" class="badge bg-danger text-white" th:text="${#messages.msg(appt.apptStatus.CANCELLED.getText())}"></span>
                                <span th:if="${appt.apptStatus == appt.apptStatus.COMPLETED}" class="badge bg-dark text-white" th:text="${#messages.msg(appt.apptStatus.COMPLETED.getText())}"></span>
                                <span th:if="${appt.apptStatus == appt.apptStatus.CONFIRM}" class="badge bg-success" th:text="${#messages.msg(appt.apptStatus.CONFIRM.getText())}"></span>
                                <span th:if="${appt.apptStatus == appt.apptStatus.IN_PROGRESS}" class="badge bg-primary text-white" th:text="${#messages.msg(appt.apptStatus.IN_PROGRESS.getText())}"></span>
                            </td>
                            <td>
                                <th:block th:if="${appt.apptStatus.CONFIRM}" th:insert="~{/components/buttons/table :: buttonManagerByUrl('title.qr', 'btn-primary btnQR', 'bi-qr-code', './qr/' + ${appt.code}, ${!available})}"></th:block>
                            </td>
                            <td>
                                <th:block th:if="${available}" th:insert="~{/components/buttons/table :: buttonManagerByUrl('title.reschedule', 'btn-warning btnReSchedule', 'bi-calendar-date', '/appointments/edit/' + ${appt.code}, ${!available})}"></th:block>
                            </td>
                            <td>
                                <th:block th:if="${available}" th:insert="~{/components/buttons/table :: buttonManagerByUrl('title.view', 'btn-primary btnView', 'bi-eye', @{'/booking/confirmation?bookingId=' + ${appt.code}}, ${!available})}"></th:block>
                            </td>
                            <td>
                                <th:block th:if="${available}" th:insert="~{/components/buttons/table :: buttonManagerById('title.cancel.appointment', 'btn-danger btnDelete', 'bi bi-trash', ${appt.id}, ${!available})}"></th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <th:block th:insert="~{/appointments/modalQR :: modalQR}"></th:block>
                <th:block th:insert="~{/appointments/modalCalendar :: calendar}"></th:block>
            </div>
        </div>
    </div>
</div>