<div class="modal fade" id="openLoginModal" tabindex="-1" style="display: none;" aria-hidden="true" th:fragment="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{title.login.need}">Iniciar sesión para reservar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <th:block th:insert="~{/../login :: loginForm}"></th:block>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" th:text="#{title.close}">Cancelar</button>
            </div>
        </div>
    </div>
</div>