<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Incluir el header -->
<th:block th:replace="~{fragments/header :: head}"></th:block>
<script th:src="@{/js/appointments/list.js}"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.5.1/css/rowGroup.dataTables.css"></link>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<div>
    <th:block th:replace="~{fragments/breadcrumbs :: listbreacrumbs}"></th:block>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-between" th:if="${loggedUser != null && actualCompany != null}">
                        <div class="col-6 mt-3">
                            <button type="button" class="btn btn-primary btn-sm"
                                    data-bs-toggle="modal" data-bs-target="#modalCalendar" id="btnModalCalendar">
                                [[${#messages.msg('button.show.calendar')}]] <i class="bi bi-calendar"></i>
                            </button>
                            <span type="hidden" id="companyLbl" th:data-maxEndTime="${endTime}" th:data-minStartTime="${startTime}"></span>
                        </div>
                    </div>
                    <th:block th:insert="~{/appointments/tableAppts :: tblAppts}"></th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{appointments/modalCalendar :: calendar}"></th:block>
<script th:src="@{/js/appointments/calendarOnModal.js}"></script>
