<table class="display table-stripped" style="width:100%" id="tblAppts" th:fragment="tblAppts">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" th:text="#{table.client}">Cliente</th>
        <th th:text="#{table.service}">Servicio</th>
        <th th:text="#{table.professional}">Profesional</th>
        <th scope="col" th:text="#{table.datetime}">Fecha/Hora</th>
        <th scope="col" th:text="#{table.status}">Estado</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appt : ${appointments}" th:class="${!appt.status ? 'text-muted' : ''}">
        <td th:if="${appt.apptStatus == appt.apptStatus.CREATED}">
            <a class="btn btn-dark btn-xs" th:href="'./edit/' + ${appt.code}" th:text="${'#'+appt.code}"></a>
        </td>
        <td th:if="${appt.apptStatus != appt.apptStatus.CREATED}">
            <label class="btn btn-dark btn-xs" th:text="${'#'+appt.code}"></label>
        </td>
        <td th:text="${appt.client.getFullname()}"></td>
        <td th:text="${appt.service.name}"></td>
        <td th:text="${appt.professional.getFullname()}"></td>
        <td th:text="${appt.scheduledDateStart + ' - ' + appt.scheduledDateEnd}"></td>
        <td>
            <span th:if="${appt.apptStatus == appt.apptStatus.CREATED}" class="badge bg-warning" th:text="${#messages.msg(appt.apptStatus.CREATED.getText())}"></span>
            <span th:if="${appt.apptStatus == appt.apptStatus.CANCELLED}" class="badge bg-danger text-white" th:text="${#messages.msg(appt.apptStatus.CANCELLED.getText())}"></span>
            <span th:if="${appt.apptStatus == appt.apptStatus.COMPLETED}" class="badge bg-dark text-white" th:text="${#messages.msg(appt.apptStatus.COMPLETED.getText())}"></span>
            <span th:if="${appt.apptStatus == appt.apptStatus.CONFIRM}" class="badge bg-success" th:text="${#messages.msg(appt.apptStatus.CONFIRM.getText())}"></span>
            <span th:if="${appt.apptStatus == appt.apptStatus.IN_PROGRESS}" class="badge bg-primary text-white" th:text="${#messages.msg(appt.apptStatus.IN_PROGRESS.getText())}"></span>
        </td>
        <td th:text="${appt.apptStatus}"></td>
        <td th:if="${appt.apptStatus == appt.apptStatus.CONFIRM || appt.apptStatus == appt.apptStatus.CREATED}">
            <th:block th:insert="~{/components/buttons/table :: buttonManagerById('title.cancel.appointment', 'btn-danger btnDelete', 'bi bi-trash', ${appt.code}, ${appt.apptStatus != appt.apptStatus.CONFIRM || appt.apptStatus != appt.apptStatus.CREATED})}"></th:block>
        </td>
        <td th:if="${appt.apptStatus != appt.apptStatus.CONFIRM || appt.apptStatus != appt.apptStatus.CREATED}"></td>
        <td th:if="${appt.apptStatus == appt.apptStatus.IN_PROGRESS}">
            <th:block th:insert="~{/components/buttons/table :: buttonManagerByUrl('title.complete.appointment', 'btn-primary btnComplete', 'bi-check', @{'/booking/completeBooking?bookingId=' + ${appt.code}}, ${appt.apptStatus != appt.apptStatus.IN_PROGRESS})}"></th:block>
        </td>
    </tr>
    </tbody>
</table>